* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-main {
    display: flex;
}

/* Barra sinistra */
nav {
    position: relative;
    height: calc(100vh - 100px);
    width: 300px;
    background-color: black;
    overflow: auto;
}

#logo {
    height: 50px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin-left: 15px;
}

li {
    color: #646464;
    margin: 5px;
}

li img {
    height: 30px;
    width: 30px;
}

nav i {
    font-size: 40px;
    color: #a3a3a3;
}

#nav-center {
    overflow: auto;
}

#nav-center li {
    margin-top: 20px;
}

#playlist {
    color: white;
    margin-top: 20px;
}

#nav-button {
    position: absolute;
    bottom: 0;
    color: #646464;
    background-color: black;
}

#nav-button li:first-child {
    width: 260px;
    border-bottom: 1px solid #646464;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#nav-button img {
    height: 15px;
    width: 15px;
}

#nav-button li:last-child {
    color: white;
}
/* /Barra sinistra */

/* Barra fissata in alto */
#upgrade {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: calc(100vw - 300px); 
    background-color: rgba(0, 0, 0, 0.452);
}

#upgrade a {
    float: right;
    color: white;
    font-size: 10px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-top: 35px;
    margin-right: 5px;
    text-decoration: none;
}
/* /Barra fissata in alto */

/* Contenuto principale */
main {
    height: calc(100vh - 100px);
    width: calc(100% - 300px);
    background-color: #141922;
    overflow: auto;
}

main ul {
    margin-top: 120px;
    list-style-type: none;
    text-align: center;
}

main li {
    display: inline-block;
    color: #7a7d82;
}

main h1 {
    color: white;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px; 
}

.blocks {
    display: inline-block;
    height: auto;
    width: calc(100% / 7 - 20px);
    margin-top: 20px;
    margin-left: 20px;
}

.blocks img {
    height: auto;
    width: 100%;
}

.text-blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blocks h4 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.blocks div {
    color: #646464;
    text-align: center;
    margin-top: 10px;
}

.info {
    color: #646464;
    margin-left: 20px;
    margin-top: 10px;
}

.artist {
    border-radius: 50%;
}

/* /Contenuto principale */

/* Barra in basso */
footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #282828;
}

#left {
    margin-top: 25px;
}

#left img {
    height: 50px;
    width: auto;
}

#left h5 {
    color: white;
}

#left div {
    color: #646464;
    font-size: 10px;
}

#text-footer {
    display: inline-block;
}

#icon-footer {
    display: inline-block;
    color: #797979;
    margin-left: 40px;
}

#center i, #right i {
    color: white;
    margin: 10px;
}

#center i:nth-child(3) {
    font-size: 30px;
}

#right {
    margin-top: 30px;
}
/* /Barra in basso */